CentroMedico/ConsoladePruebas/Service References/AgendaDiariaSvc/AgendaDiariasvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AgendaDiariaEnt">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGENDA_DETALLE_ACTIVO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AGENDA_DETALLE_AGENDA_ID" type="xs:int" />
      <xs:element minOccurs="0" name="AGENDA_DETALLE_DIA_ATENCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AGENDA_DETALLE_HORA_MEDICA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AGENDA_DETALLE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AGENDA_DETALLE_MEDICO_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgendaDiariaEnt" nillable="true" type="tns:AgendaDiariaEnt" />
</xs:schema>