CentroMedico/ConsoleApplication1/Service References/PrevisionSvc/Prevision2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PrevisionEnt">
    <xs:sequence>
      <xs:element minOccurs="0" name="prevision_desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prevision_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrevisionEnt" nillable="true" type="tns:PrevisionEnt" />
</xs:schema>