CentroMedico/ConsoleApplication1/Service References/PrevisionSvc/Prevision.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Prevision" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59231/Prevision.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59231/Prevision.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59231/Prevision.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrevision_InsertarPrevision_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPrevision" />
  </wsdl:message>
  <wsdl:message name="IPrevision_InsertarPrevision_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPrevisionResponse" />
  </wsdl:message>
  <wsdl:message name="IPrevision_ObtenerPrevision_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPrevision" />
  </wsdl:message>
  <wsdl:message name="IPrevision_ObtenerPrevision_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPrevisionResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrevision">
    <wsdl:operation name="InsertarPrevision">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrevision/InsertarPrevision" message="tns:IPrevision_InsertarPrevision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrevision/InsertarPrevisionResponse" message="tns:IPrevision_InsertarPrevision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrevision">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrevision/ObtenerPrevision" message="tns:IPrevision_ObtenerPrevision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrevision/ObtenerPrevisionResponse" message="tns:IPrevision_ObtenerPrevision_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrevision" type="tns:IPrevision">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarPrevision">
      <soap:operation soapAction="http://tempuri.org/IPrevision/InsertarPrevision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrevision">
      <soap:operation soapAction="http://tempuri.org/IPrevision/ObtenerPrevision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Prevision">
    <wsdl:port name="BasicHttpBinding_IPrevision" binding="tns:BasicHttpBinding_IPrevision">
      <soap:address location="http://localhost:59231/Prevision.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>