CentroMedico/CentroMedico.Mvc/Service References/SucursalesSvc/Sucursales2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SucursalEnt">
    <xs:sequence>
      <xs:element minOccurs="0" name="sucursal_direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sucursal_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sucursal_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sucursal_telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SucursalEnt" nillable="true" type="tns:SucursalEnt" />
</xs:schema>