CentroMedico/CentroMedicoWeb/Service References/MedicoSvc/Medico1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MedicoEnt">
    <xs:sequence>
      <xs:element minOccurs="0" name="medico_apellido_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="medico_apellido_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="medico_clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="medico_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="medico_especialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="medico_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="medico_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="medico_rut" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicoEnt" nillable="true" type="tns:MedicoEnt" />
</xs:schema>