CentroMedico/CentroMedicoWeb/Service References/PacienteSvc/Paciente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PacienteEnt">
    <xs:sequence>
      <xs:element minOccurs="0" name="paciente_apellido_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paciente_apellido_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paciente_clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paciente_direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paciente_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paciente_fecha_nac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paciente_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paciente_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paciente_prevision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paciente_rut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paciente_telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacienteEnt" nillable="true" type="tns:PacienteEnt" />
</xs:schema>