CentroMedico/CentroMedicoWeb/Service References/PacienteSvc/Paciente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Paciente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59231/Paciente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59231/Paciente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59231/Paciente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaciente_ValidarLoginPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLoginPaciente" />
  </wsdl:message>
  <wsdl:message name="IPaciente_ValidarLoginPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLoginPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IPaciente_InsertarPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPaciente" />
  </wsdl:message>
  <wsdl:message name="IPaciente_InsertarPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IPaciente_ObtenerPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaciente" />
  </wsdl:message>
  <wsdl:message name="IPaciente_ObtenerPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPacienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaciente">
    <wsdl:operation name="ValidarLoginPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaciente/ValidarLoginPaciente" message="tns:IPaciente_ValidarLoginPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaciente/ValidarLoginPacienteResponse" message="tns:IPaciente_ValidarLoginPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaciente/InsertarPaciente" message="tns:IPaciente_InsertarPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaciente/InsertarPacienteResponse" message="tns:IPaciente_InsertarPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaciente/ObtenerPaciente" message="tns:IPaciente_ObtenerPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaciente/ObtenerPacienteResponse" message="tns:IPaciente_ObtenerPaciente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaciente" type="tns:IPaciente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarLoginPaciente">
      <soap:operation soapAction="http://tempuri.org/IPaciente/ValidarLoginPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPaciente">
      <soap:operation soapAction="http://tempuri.org/IPaciente/InsertarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaciente">
      <soap:operation soapAction="http://tempuri.org/IPaciente/ObtenerPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Paciente">
    <wsdl:port name="BasicHttpBinding_IPaciente" binding="tns:BasicHttpBinding_IPaciente">
      <soap:address location="http://localhost:59231/Paciente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>