CentroMedico/CentroMedicoWeb/Service References/EspecialidadSvc/Especialidad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Especialidad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59231/Especialidad.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59231/Especialidad.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59231/Especialidad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEspecialidad_InsertarEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IEspecialidad_InsertarEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEspecialidadResponse" />
  </wsdl:message>
  <wsdl:message name="IEspecialidad_ObtenerEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IEspecialidad_ObtenerEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEspecialidadResponse" />
  </wsdl:message>
  <wsdl:portType name="IEspecialidad">
    <wsdl:operation name="InsertarEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IEspecialidad/InsertarEspecialidad" message="tns:IEspecialidad_InsertarEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEspecialidad/InsertarEspecialidadResponse" message="tns:IEspecialidad_InsertarEspecialidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IEspecialidad/ObtenerEspecialidad" message="tns:IEspecialidad_ObtenerEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEspecialidad/ObtenerEspecialidadResponse" message="tns:IEspecialidad_ObtenerEspecialidad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEspecialidad" type="tns:IEspecialidad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IEspecialidad/InsertarEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IEspecialidad/ObtenerEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Especialidad">
    <wsdl:port name="BasicHttpBinding_IEspecialidad" binding="tns:BasicHttpBinding_IEspecialidad">
      <soap:address location="http://localhost:59231/Especialidad.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>