CentroMedico/CentroMedico.Mvc/Service References/SecretariaSvc/Secretaria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValidarLoginSecretaria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="entidad" type="tns:SecretariaEnt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SecretariaEnt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="secretaria_id" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="secretaria_rut" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="secretaria_nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="secretaria_apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="secretaria_apellido_materno" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="secretaria_clave" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="secretaria_email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidarLoginSecretariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ValidarLoginSecretariaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSecretaria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="entidad" type="tns:SecretariaEnt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSecretariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="InsertarSecretariaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaDuplicidadSecretaria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="entidad" type="tns:SecretariaEnt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaDuplicidadSecretariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ValidaDuplicidadSecretariaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>