CentroMedico/CentroMedico.Mvc/Service References/SecretariaSvc/Secretaria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Secretaria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59231/Secretaria.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecretaria_ValidarLoginSecretaria_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLoginSecretaria" />
  </wsdl:message>
  <wsdl:message name="ISecretaria_ValidarLoginSecretaria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLoginSecretariaResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretaria_InsertarSecretaria_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarSecretaria" />
  </wsdl:message>
  <wsdl:message name="ISecretaria_InsertarSecretaria_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarSecretariaResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretaria_ValidaDuplicidadSecretaria_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaDuplicidadSecretaria" />
  </wsdl:message>
  <wsdl:message name="ISecretaria_ValidaDuplicidadSecretaria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaDuplicidadSecretariaResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecretaria">
    <wsdl:operation name="ValidarLoginSecretaria">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretaria/ValidarLoginSecretaria" message="tns:ISecretaria_ValidarLoginSecretaria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretaria/ValidarLoginSecretariaResponse" message="tns:ISecretaria_ValidarLoginSecretaria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarSecretaria">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretaria/InsertarSecretaria" message="tns:ISecretaria_InsertarSecretaria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretaria/InsertarSecretariaResponse" message="tns:ISecretaria_InsertarSecretaria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaDuplicidadSecretaria">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretaria/ValidaDuplicidadSecretaria" message="tns:ISecretaria_ValidaDuplicidadSecretaria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretaria/ValidaDuplicidadSecretariaResponse" message="tns:ISecretaria_ValidaDuplicidadSecretaria_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISecretaria" type="tns:ISecretaria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarLoginSecretaria">
      <soap:operation soapAction="http://tempuri.org/ISecretaria/ValidarLoginSecretaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarSecretaria">
      <soap:operation soapAction="http://tempuri.org/ISecretaria/InsertarSecretaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaDuplicidadSecretaria">
      <soap:operation soapAction="http://tempuri.org/ISecretaria/ValidaDuplicidadSecretaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Secretaria">
    <wsdl:port name="BasicHttpBinding_ISecretaria" binding="tns:BasicHttpBinding_ISecretaria">
      <soap:address location="http://localhost:59231/Secretaria.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>