CentroMedico/CentroMedico.Mvc/Service References/CajeroSvc/Cajero.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59231/Cajero.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" />
  <xs:element name="RecaudacionGeneral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha_inicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha_fin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecaudacionGeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecaudacionGeneralResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MuestraDatoReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha_inicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha_fin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_medico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MuestraDatoReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" minOccurs="0" name="MuestraDatoReporteResult" nillable="true" type="q1:CajeroEnt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MuestraCalculoGral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha_inicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha_fin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MuestraCalculoGralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" minOccurs="0" name="MuestraCalculoGralResult" nillable="true" type="q2:CajeroEnt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>