CentroMedico/CentroMedico.Mvc/Service References/CajeroSvc/Cajero.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cajero" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59231/Cajero.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59231/Cajero.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59231/Cajero.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICajero_RecaudacionGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:RecaudacionGeneral" />
  </wsdl:message>
  <wsdl:message name="ICajero_RecaudacionGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecaudacionGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="ICajero_MuestraDatoReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:MuestraDatoReporte" />
  </wsdl:message>
  <wsdl:message name="ICajero_MuestraDatoReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:MuestraDatoReporteResponse" />
  </wsdl:message>
  <wsdl:message name="ICajero_MuestraCalculoGral_InputMessage">
    <wsdl:part name="parameters" element="tns:MuestraCalculoGral" />
  </wsdl:message>
  <wsdl:message name="ICajero_MuestraCalculoGral_OutputMessage">
    <wsdl:part name="parameters" element="tns:MuestraCalculoGralResponse" />
  </wsdl:message>
  <wsdl:portType name="ICajero">
    <wsdl:operation name="RecaudacionGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/ICajero/RecaudacionGeneral" message="tns:ICajero_RecaudacionGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICajero/RecaudacionGeneralResponse" message="tns:ICajero_RecaudacionGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MuestraDatoReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/ICajero/MuestraDatoReporte" message="tns:ICajero_MuestraDatoReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICajero/MuestraDatoReporteResponse" message="tns:ICajero_MuestraDatoReporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MuestraCalculoGral">
      <wsdl:input wsaw:Action="http://tempuri.org/ICajero/MuestraCalculoGral" message="tns:ICajero_MuestraCalculoGral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICajero/MuestraCalculoGralResponse" message="tns:ICajero_MuestraCalculoGral_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICajero" type="tns:ICajero">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecaudacionGeneral">
      <soap:operation soapAction="http://tempuri.org/ICajero/RecaudacionGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MuestraDatoReporte">
      <soap:operation soapAction="http://tempuri.org/ICajero/MuestraDatoReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MuestraCalculoGral">
      <soap:operation soapAction="http://tempuri.org/ICajero/MuestraCalculoGral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cajero">
    <wsdl:port name="BasicHttpBinding_ICajero" binding="tns:BasicHttpBinding_ICajero">
      <soap:address location="http://localhost:59231/Cajero.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>