CentroMedico/CentroMedico.Mvc/Service References/CajeroSvc/Cajero2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CentroMedico.Datos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CajeroEnt">
    <xs:sequence>
      <xs:element minOccurs="0" name="atenciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_medico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recaudado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sucursal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CajeroEnt" nillable="true" type="tns:CajeroEnt" />
</xs:schema>